github:
  access_token:
  user:

music_endpoint: 

homelab:
  nodes:
    - name: node-name
      node_exporter_url: http://127.0.0.1:9100/metrics
    
listen_addr: 127.0.0.1:8888

log:
  level: debug
  format: text
  add_source: true