.hero-banner {
  height: 290px;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 32px 0;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 25%;
  position: absolute;
  inset: 0;
}

/* .banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.0) 0%, 
    rgba(0, 0, 0, 0.3) 50%,
    rgba(10, 10, 10, 0.6) 60%,
    rgba(10, 10, 10, 0.8) 70%,
    rgba(10, 10, 10, 1) 90%,
    rgba(10, 10, 10, 1) 100%);
  z-index: 1;
} */

.hero-avatar {
  display: flex;
  align-items: flex-end;
  margin: -90px 0 0px 10px;
  position: relative;
  z-index: 10;
  flex-shrink: 0;
}

.hero-avatar img {
  width: 132px;
  height: 132px;
  border-radius: 28px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-primary);
  line-height: 1.5;
}

.hero-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-secondary);
}


