.home_item {
    margin-bottom: 2rem;
}

#aboutme a {
    color: var(--link-color);
}

#aboutme a:hover {
    color: var(--link-color-hover);
}

#aboutme a:visited {
    color: var(--link-color-visited);
}
