@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-text-alert: #d72641;
  --color-text-icon: #dbdade;
  --color-theme-primary: #623ce6;
  --color-theme-secondary: #182135;
  --color-time-lapsed: #DF9443;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  border-radius: 1rem;
}

#scoreboard img {
  display: block;
}

#scoreboard strong {
  font-weight: 600;
}

.match-header {
  display: flex;
  flex: 1;
  border-bottom: 2px solid rgb(147, 147, 147, 0.9);
  padding: 1rem;
}

.match-status {
  color: var(--text-primary);
  padding: 8px 12px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-right: auto;
  width: 25%;
}
.match-status--live {
  color: var(--color-text-alert);
}

.match-tournament {
  font-weight: 600;
  text-align: center;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.match-tournament img {
  width: 20px;
}

.match-actions {
  display: flex;
  margin-left: auto;
  justify-content: right;
  gap: 20px;
  width: 25%;
}

.btn-icon {
  font-size: 10px;
  text-decoration: none;
  background-color: transparent;
  color: var(--color-text-icon);
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-content {
  display: flex;
  position: relative;
}

.column {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bg-primary);
  box-shadow: 0 4px 4px 0 #14233a, 0 0 0 15px #253554;
}
.team-logo img {
  width: 55px;
}

.team-name {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
}
.team-url {
  color: var(--text-primary);
  text-decoration: none;
}

.match-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-date {
  font-size: 14px;
  color: var(--text-secondary);
  text-align: center;
}
.match-date strong {
  color: var(--text-primary);
}

.match-score {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.match-score-number{
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
}
.match-score-number--leading {
  color: var(--color-theme-primary);
}

.match-score-divider {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-text-icon);
  margin-left: 10px;
  margin-right: 10px;
}

.match-time-lapsed {
  color: var(--color-time-lapsed);
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}

.match-venue {
  color: var(--text-primary);
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
}
