package tmpl 

import "portfolio/models"

templ Index(data models.Data) {
    <!DOCTYPE html>
    <html lang="en">
        @Head()
        @Header(data)

        <main>
            <div id="home" class="nav">
		        @templ.Raw( data.Home.Content )
	        </div>
        </main>

        <div id="projects" class="nav">
		    <h2>Top Projects:</h2>
		    @Projects(data)
	    </div>

    </html>
}