package tmpl 

import "github.com/bachtran02/bachtran.go/models"


templ Home(data models.Data) {
    <div id="aboutme" class="home_item"> @templ.Raw( data.Home.Content ) </div>
    <div id="music" class="home_item">@Music()</div>
    <div id="scoreboard" class="home_item"></div>
}