{{ template "head.gohtml" . }}
<body>
{{ template "header.gohtml" . }}
<main>

	<div id="home" class="nav">
		{{ template "home.gohtml" .}}
	</div>

	<div id="projects" class="nav">
		<h2>Top Projects:</h2>
		{{ template "projects.gohtml" .}}
	</div>

	<br/>
	
	<div id="scoreboard" class="nav"></div>

</main>
<footer>
	<p>© 2023 - <a href="https://github.com/bachtran02" target="_blank">@bachtran.dev</a></p>
</footer>
<script src="/assets/script.js" defer></script>
</body>
</html>